---

import html from '../../assets/techs/html.png'
import css from '../../assets/techs/css.png'
import js from '../../assets/techs/js.png'
import react from '../../assets/techs/react.png'

import java from '../../assets/techs/java.png'
import node from '../../assets/techs/node.png'
import mongo from '../../assets/techs/mongo.png'
import mysql from '../../assets/techs/mysql.png'
import express from '../../assets/techs/express.png'
import git from '../../assets/techs/git.png'
import postman from '../../assets/techs/postman.png'
import figma from '../../assets/techs/figma.png'
import excel from '../../assets/techs/excel.png'
import svelte from '../../assets/techs/svelte.png'
import astro from '../../assets/techs/astro.png'
import vscode from '../../assets/techs/vscode.png'
import eclipse from '../../assets/techs/eclipse.png'
import spring from  '../../assets/techs/spring.png'
import net from '../../assets/techs/netcore.png'
import prisma from '../../assets/techs/prisma.png'
import lucia from '../../assets/techs/lucia.svg'
import larava from '../../assets/techs/laravel.png'
import boostrap from '../../assets/techs/bootstrap.png'
import tailwind from '../../assets/techs/tailwind.png'
import python from '../../assets/techs/Python.png'
---
<div class=`techs md:w-2/4`>
     <h2 class="text-4xl tracking-wide">Skills</h2>
            <div>
                <h3>Frontend</h3>
                <div class='frontend'>
                    <div class='techItem'>
                        <img src={html.src} alt="html" />
                        <p>HTML5</p>
                    </div>
                    <div class='techItem'>
                        <img src={css.src} alt="css" />
                        <p>CSS3</p>
                    </div>
                    <div class='techItem'>
                        <img src={js.src} alt="js" />
                        <p>JavaScript</p>
                    </div>
                    <div class='techItem'>
                        <img src={svelte.src} alt="svelte" />
                        <p>Svelte</p>
                    </div>
                    <div class='techItem'>
                        <img src={astro.src} alt="astro" />
                        <p>AstroJS</p>
                    </div>
                     <div class='techItem'>
                        <img src={tailwind.src} alt="tailwind" />
                        <p>Tailwind</p>
                    </div>
                    <div class='techItem'>
                        <img src={boostrap.src} alt="boostrap" />
                        <p>Boostrap</p>
                    </div> 
                  
                </div>
            </div>

            <div>
                <h3>Backend</h3>
                <div class='backend'>
                    <div class="techItem">
                        <img src={java.src} alt="Java" />
                        <p>Java</p>
                    </div>
                    <div class="techItem">
                        <img src={python.src} alt="Pyhton" />
                        <p>Python</p>
                    </div>
                    <div class="techItem">
                        <img src={node.src} alt="Node" />
                        <p>Node</p>
                    </div>
                    <div class="techItem">
                        <img src={mongo.src} alt="MongoDB" />
                        <p>MongoDB</p>
                    </div>
                    <div class="techItem">
                        <img src={mysql.src} alt="MySQL" />
                        <p>MySQL</p>
                    </div>
                    <div class="techItem">
                        <img src={express.src} alt="Express" />
                        <p>Express</p>
                    </div>
                    <div class="techItem">
                        <img src={net.src} alt="net" />
                        <p>.Net Core</p>
                    </div>
                    <div class="techItem">
                        <img src={spring.src} alt="Spring" />
                        <p>Spring</p>
                    </div>
                </div>
            </div>

            <div>
                <h3>Extra</h3>
                <div class='extra'>
                    <div class="techItem">
                        <img src={git.src} alt="Git" />
                        <p>Git</p>
                    </div>
                    <div class="techItem">
                        <img src={postman.src} alt="Postman" />
                        <p>Postman</p>
                    </div>
                    <div class="techItem">
                        <img src={figma.src} alt="Figma" />
                        <p>Figma</p>
                    </div>
                    <div class="techItem">
                        <img src={vscode.src} alt="VsCode" />
                        <p>VsCode</p>
                    </div> 
                    <div class="techItem">
                        <img src={lucia.src} alt="Lucia" />
                        <p>Lucia Auth</p>
                    </div> 
                    <div class="techItem">
                        <img src={prisma.src} alt="Prisma" />
                        <p>Prisma ORM</p>
                    </div>
                    <div class="techItem">
                        <img src={eclipse.src} alt="Eclipse" />
                        <p>Eclipse</p>
                    </div>  
                </div>
            </div>
        </div>

        <style>
            @import './tech.css'
        </style>